.circle-logo1
{
	height: 160px !important; 
	width: 160px !important;
}

.all {
	background-image: url("../assets/photos/client/nandyala/bg2.jpeg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 100vh;
}

.login-backdrop
{

	background: rgba(0, 0, 0, 0.63);
	width: 100%;
	height: 100%;
	position: fixed;
	overflow-y: auto;
	overflow-x: hidden;

}

.title-container {
	background-color: #282828;
	font-family: 'Poppins', sans-serif;

	color: rgb(238, 182, 28);
	text-align: center;
	padding: 20px;
	/* border: 2px solid rgb(12, 12, 111); */
	border-radius: 10px;
}

.title-container h1 {
	font-size: 25px;
	/* Adjust font size */
	font-weight: bold;
	margin: 0;
	/* Remove default margin */
}

@media (max-width: 1000px) {
	.title-container h1 {
		font-size: 15px;
		/* Smaller size for small devices */
	}
}